// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.twitter {
  background-color: #f3ede1;
  padding: 10px;
  border: 1px solid #d9d2c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -1px;

  @media (max-width: 767px) {
    width: 240px;
  }
}

.twitter-margin-top {
  height: 10px
}

.stack-overflow p {
  margin-top: 10px;
}

aside.sidebar a.stack-overflow-link {
  text-decoration: none;
  white-space: normal;
}

.page article header {
  padding-top: 0;
}

.nolinenos {
  .highlight .line-numbers {
    display: none;
  }

  &.short {
    max-width: 550px;
  }
}

article img {
  &.personal-photo {
    @media (max-width: 864px) {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.noborder {
    border: none;

    box-sizing: none;
    -webkit-box-sizing: none;
    -moz-box-sizing: none;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
}

.margintop {
  margin-top: 8px;
}

.center-content {
  text-align: center;
}

article {
  font-family: $article-font;
  font-size: 16px;

  h2, h3, h4, h5, h6 {
    font-family: $article-font;
  }
}

h1.comments {
  font-family: $article-font;
}

a.ellipsis {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.references {
  margin-top: 40px;
  margin-bottom: -20px;

  font-size: 14px;
}

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background: image-url('logo/ruby.png');

  &, .sparkle {
    width: 100px;
    height: 72px;
  }

  .sparkle {
    position: absolute;
  }

  .sparkle {
    opacity: 0;

    &.sparkle1 { background-image: image-url('logo/sparkle1.png') }
    &.sparkle2 { background-image: image-url('logo/sparkle2.png') }
    &.sparkle3 { background-image: image-url('logo/sparkle3.png') }
    &.sparkle4 { background-image: image-url('logo/sparkle4.png') }
    &.sparkle5 { background-image: image-url('logo/sparkle5.png') }
  }

  &:hover {
    .sparkle1 { @include animation(show 0.1s linear 0.1s) }
    .sparkle2 { @include animation(show 0.1s linear 0.2s) }
    .sparkle3 { @include animation(show 0.1s linear 0.3s) }
    .sparkle4 { @include animation(show 0.1s linear 0.4s) }
    .sparkle5 { @include animation(show 0.1s linear 0.5s) }
  }
}

@include keyframes(show) {
  0%, 100% { opacity: 1 }
}
